<div style="width:70%;margin:auto">
	<h2>Settings</h2>
	<form novalidate class="simple-form">
	<div class="input-group">
		<span class="input-group-addon">Username</span>
		<input type="text" class="username form-control" ng-model="$storage.username" placeholder="Input your Delicious Username">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">Private Key</span>
		<input type="text" class="privatekey form-control" ng-model="$storage.privatekey" placeholder="Input your Delicious private key to see private links too.">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">Favorite Tags</span>
		<input type="text" class="privatekey form-control" ng-model="$storage.favoritetags" placeholder="Input your favorite tags, comma separated, 11 max.">
	</div>

	</form>
	<p>
		<a href="#/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
	</p>
</div>
